{% extends 'core/base.html' %}

{% block title %}Sign Up - Confirmed{% endblock %}

{% block jumbo_title %}CONFIRMED{% endblock %}

{% block content %}
<div class="content">
    <section class="panel">
        <h1 class="title">You're not done yet!</h1>
        <div class="underline"></div>
        
        <p>You're confirmed! But to participate in our hubs, league, and discord, be sure to:</p>
        <ol>
            <li>Verify your college credentials</li>
            <li>Attach your FACEIT account</li>
            <li>Attach your Discord account</li>
        </ol>

        <a href='/login'>Log in</a> and do that now!
        <br>
        <br>
    </section>
</div>
{% endblock %}