{% extends 'core/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="content">
  <div class="sole_object">
    <section class="panel">    
      <h1 class="title">Login</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button" type="submit" value="Login"></input>
        <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
      </form>
    </section>
  </div>
</section>
{% endblock %}