{% extends 'core/base.html' %}
{% load static %}

{% block title %}Collegiate Hub{% endblock %}

{% block content %}
<section class="jumbotron hub_jumbo">
  <h1>COLLEGIATE HUB</h1>
</section>

<div class="content">
  <section id="hub">
    <article class="panel">
      <h1 class="title">WHAT IS THE HUB?</h1>
      <div class="body transparent">
        <div class="body_content">
          Our collegiate hub is built around the collegiate community. Since its creation, students and graduates have come together to have fun and play CS:GO. No matter what skill level, any current or graduated student is welcome to join in!
          <br>
          <br>
          Don't think you're that good? No worries! Join the hub to learn from your peers.
          <br>
          <br>
          Think you're one of the best? Represent your school amongst the hundreds of other students playing!
          <br>
          <br>
          Check the hub out here: 
          <a href="https://www.faceit.com/en/hub/a67c2ead-9968-4e8b-957b-fb8bc244b302/NACCS%20Queue">FACEIT Hub</a>
        </div>
    </article>

    <article class="panel">
      <h1 class="title">HOW TO JOIN</h1>
      <div class="body">
        <div class="body_content ">
          <div class="flex_row">
            <div class="panel center_text">
                <img class="help_img center_text" src="{% static 'assets/help_1.png' %}">
                <h1>1. Create an account</h1>
            </div>
            <div class="panel center_text">
                <img class="help_img center_text" src="{% static 'assets/help_2.png' %}">
                <h1>2. Verify your college credentials</h1>
            </div>
            <div class="panel center_text">
                <img class="help_img center_text" src="{% static 'assets/help_3.png' %}">
                <h1>3. Link your Accounts</h1>
            </div>
            <div class="panel center_text">
                <img class="help_img center_text" src="{% static 'assets/help_4.png' %}">
                <h1>4. Generate your invite link!</h1>
            </div>
          </div>
        </div>
    </article>
    
    <article class="panel">
      <h1 class="title">DISCORD</h1>
      <div class="body transparent">
        <div class="body_content">
          As a final step, every player is required to join our <a href="https://discord.gg/6Bkbavq">Discord</a>! Once you're in, be sure to head over to #verify-me to verify your account. We use Discord for all our hub matches.
        </div>
    </article>

    <article class="panel">
      <h1 class="title">PRIZES</h1>
      <div class="body transparent">
        <div class="body_content">
          Prizes for this hub have been historically cash, coupons, and FACEIT points for the top of the leaderboard. We also do random giveaways for whoever's played, too.
          <br><br>
          Keep a lookout in Discord for updates on our hub prizing!
        </div>
    </article>
  </section>
  <br>
  <br>
  <section id="powerpugs">
    <hr>
    <article class="panel">
      <h1 class="title">POWER PUGS</h1>
      <div class="body transparent">
        <div class="body_content">
          <p>Every season, we take the best collegiate players and invite them to compete. (More information to come)</p>
          <p>Season 3 of Power Pugs TBD.</p>
          <a href="https://www.faceit.com/en/hub/9512ae3b-7322-4821-9eca-6e0db1819b03/NACCS%20Power%20Pugs">FACEIT Hub</a>
        </div>
    </article>

    <article class="panel">
      <h1 class="title">PRIZES</h1>
      <div class="body transparent">
        <div class="body_content">
          TBD
        </div>
    </article>

    <article class="panel">
      <h1 class="title">Application Form</h1>
      <div class="body transparent">
        <div class="body_content">
          TBD
        </div>
    </article>
  </section>
</div>
{% endblock %}