{% extends 'core/base.html' %}
{% load static %}

{% block title %}Collegiate Hub{% endblock %}

{% block content %}
<section class="jumbotron hub_jumbo">
  <h1>COLLEGIATE HUB</h1>
</section>
<div class="content">
  <article class="panel">
    <h1 class="title">HOW TO JOIN?</h1>
    <div class="hub_page">
      <div class="hub_content">dasdasda</div>
    </div>
    <h1 class="title">Leaderboard</h1>
    <div class="hub_page">
      <div class="hub_content">
      </div>

    </div>
</div>
</article>
</div>
{% endblock %}