{% extends 'core/base.html' %}

{% block title %}Join Collegiate Team{% endblock %}

{% block content %}
<div class="content">
    <h1 id="plain_header">Join Team</h1>
    <div class="sole_object">
        <section class="panel">
            <h1 class="title">Enter Team Password</h1>
            <!-- <div class="underline"></div> -->
            <p><strong>{{ school.name }}</strong></p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" value="Join">
            </form>
        </section>
    </div>
</div>
{% endblock %}