{% extends 'core/base.html' %}
{% load static %}

{% block title %}Collegiate League{% endblock %}

{% block content %}
<section class="jumbotron league_jumbo">
  <h1>COLLEGIATE LEAGUE</h1>
</section>

<div class="content">
  <section id="rules">
    <article class="panel">
      <h1 class="title">RULES</h1>
      <div class="body transparent">
        <div class="body_content">
          TBD
        </div>
    </article>
  </section>

  <section id="maps">
    <article class="panel">
      <h1 class="title">MAP POOL</h1>
      <div class="body transparent">
        <div class="body_content">
          TBD
        </div>
    </article>
  </section>

  <section id="schedule">
    <article class="panel">
      <h1 class="title">SCHEDULE</h1>
      <div class="body transparent">
        <div class="body_content">
          TBD
        </div>
    </article>
  </section>
</div>

{% endblock %}