{% extends 'core/base.html' %}

{% block title %}Manage Team{% endblock %}

{% block content %}
<div class="content">
    <h1 id="plain_header">Manage Team</h1>
    <section class="panel full_width">
        <h1 class="title">{{ team.name }}</h1>
        <!-- <div class="underline"></div> -->
        <p><strong>{{ team.school.name }}</strong></p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit" value="Change" name="team_info">
        </form>

        <h1 class="title">Roster</h1>
        <div class="manage_players">
            {% for player in roster %}
                {% if not player.user == user %}
                <form id={{ player.user }} action="" method="post" style="margin: 0;"> 
                {% csrf_token %}
                </form>
                {% endif %}
            {% endfor %}
            <form action="" method="post">
            {% csrf_token %}
            
            {% for player in roster %}
            <div class="player">
                {{ player.user.profile.nickname }}
                <div class="player_buttons">
                    {% if forloop.counter0 < 5 %}
                        {% if player.amount_paid < player.team.division.fee %}
                        <input class="check_box" type="checkbox" name="pay_checkbox" value="{{ player.user.username }}">
                        Pay
                        {% endif %}
                    {% else %}
                        {% if player.amount_paid < player.team.division.sub_fee %}
                        <input class="check_box" type="checkbox" name="pay_checkbox" value="{{ player.user.username }}">
                        Pay
                        {% endif %}
                    {% endif %}

                    {% if not player.user == user %}
                        <!-- <input class="btn kick_btn" value="Kick" type="submit"> -->
                        <button class="btn kick_btn" name="kick" value={{ player.user }} form={{ player.user }}>Kick</button>
                        <!-- <input type="hidden" value="{{ player.user.username }}" name="kick"> -->
                    {% else %}
                    <input class="btn kick_btn" value="Kick" type="button" disabled>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% if create_payment_button %}
            <input style="float: right" class="paypal_button" value="Pay" type="submit" name="pay">
            {% endif %}
            </form>
        </div>
    </section>
</div>
{% endblock %}