{% extends 'core/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<section id="player_banner">
        <img id="player_img" src="{% static 'assets/silhouette.png' %}">
        <section id="player_info">
            <div id="nickname">{{ profile.profile.nickname }}</div>
            <div id="full_name">{{ profile.first_name }} {{ profile.last_name }}</div>
            <div id="school">{{ profile.profile.college }}</div><!-- School -->
            <div id="division">Division I</div>
        </section>
</section>
<div class="content">
    <section class="profile_section">
        <div class="title">
            BIO
        </div>
        <div class="body">
            {{ profile.profile.bio }}
        </div>
    </section>

    <section class="profile_section">
        <div class="title">
            STATS
        </div>
        <div class="body">
        </div>
    </section>
</div>
{% endblock %}