{% extends 'core/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<section id="player_banner">
    {% if player.user.profile.picture %}
        <img id="player_img" src="{% get_media_prefix %}{{ player.user.profile.picture }}">
    {% else %}
        <img id="player_img" src="{% static 'assets/silhouette.png' %}">
    {% endif %}
    <section id="player_info">
        <div id="nickname">{{ player.user.profile.nickname }}</div>
        <div id="full_name">{{ player.user.first_name }} {{ player.user.last_name }}</div>
        <div id="school">{{ player.user.profile.college }}</div>
        <div id="division">{{ player.team.division.name }}</div>
        <div id="contact">
            <div id="discord">
                <i class="fab fa-discord"></i> {{ player.user.profile.discord }}
            </div>
            <div id="faceit">
                <img id="faceit_icon" src="{% static 'assets/faceit_pheasant.png' %}"> {{ player.user.profile.faceit }}
            </div>
    </section>
</section>
<div class="content">
    <section class="profile_section">
        <div class="title">
            BIO
        </div>
        <div class="body">
            {{ player.user.profile.bio|linebreaks }}
        </div>
    </section>

    <section class="profile_section">
        <div class="title">
            STATS
        </div>
        <div class="body">
            ...
        </div>
    </section>
</div>
{% endblock %}