body {
    font-family: 'Open Sans', sans-serif;
    margin: 70px 0 0 0;
    background-color: #f3f3f3;
}

input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 2px;
    padding: 20px 4px 4px 4px;
    min-width: 250px;
}

input:focus {
    box-shadow: 0 0 5px #0C2132;
    outline-color: #0C2132;
}

label {
    color: #0C2132;
    padding-left: 4px;
    padding-top: 2px;
    position: absolute;
    font-size: 12px;
}

.content {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #363a42;
    color: white;
    margin-top: -70px;
}

nav #logo {
    border-radius: 10px;
    box-shadow: 0px 0px 12px #333;
}
nav #logo img {
    /* Get rid of leading text due to inline */
    display: block;
    max-height: 50px;
}

nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

nav .tabs {
    margin-right: 0;
    margin-left: auto;
    letter-spacing: 2px;
    font-size: 12px;
    height: inherit;
    line-height: 50px;
}

nav .tabs a:hover {
    box-shadow: inset 0px -6px 0px 0px #5e7aac;
    /* border-bottom: thick solid #5e7aac; */
}

nav .tabs a {
    margin-left: 5px;
    padding: 10px;
    transition: box-shadow 0.1s ease-in;
}

nav > .content {
    display: flex;
    align-items: center;
    height: 70px;
}

.ghost_button, #signup {
    cursor: pointer;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border: 2px solid #5e7aac;
    color: #5e7aac;
    transition: color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
}

#signup {
    border: none;
    font-weight: bold;
    color: white;
}

.ghost_button:hover, #signup:hover {
    color: white;
    background-color: #5e7aac;
}

.jumbotron {
    height: 200px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('/static/assets/overlay_image.jpg');
    background-size: cover;
}

.jumbotron > h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: lighter;
    color: #363a42;
}

.jumbotron > .underlay {
    height: 500px;
    opacity: 0.6;
    position: absolute;
    top: -170px;
    left: 0;
    right: 0;
    background-image: url('/static/assets/overlay_image.jpg');
    background-size: cover;
    z-index: -2;
}

.jumbotron > .tint {
    background-image: linear-gradient(to right, 
    rgba(12, 49, 50, 1.0),
    /* rgba(12, 49, 50, 0.5) 50%, */
    rgba(246, 90, 68, 1.0) 100%);
    /* transform: skew(-30deg); */
    /* left: -200px;
    right: -350px; */
}

.jumbotron h2 {
    font-size: 1.8em;
}

.jumbotron.main_jumbo {
    height: 300px;
}

.jumbotron.main_jumbo > h1 {
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.jumbotron.main_jumbo > .underlay {
    height: 500px;
}

#queues {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#partners_bg { 
    text-align: center;
    background-color: #ddd;
    height: 200px;
    color: #999;
    letter-spacing: 1.5px;
    margin-top: 30px;
    padding-top: 10px;
}

#partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#partners > .partner {
    height: 80px;
}

#account_settings {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#account_settings > #main {
    flex-grow: 3;
    width: 800px;
}

#account_settings > #sidebar {
    flex-grow: 1;
    margin-left: auto;
}

.panel {
    animation-name: floatup;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
}

.panel .body {
    background-color: white;
    width: 100%;
    padding: 5px;
    box-shadow: 0 0 20px 4px #dedede;
    color: black;
}

.panel .underline {
    height: 10px;
    width: 200px;
    background-color: #5e7aac;
    transform: skew(-30deg);
    margin-bottom: 10px;
}

.panel .title {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: #363a42;
    font-weight: bold;
}

.panel .body_content {
    min-height: 150px;
    margin: 10px;
    font-size: 12px;
}

.panel_button {
    cursor: pointer;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.panel .footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.panel form {
    margin: 20px 0 20px 0;
}

form .ghost_button {
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}

.errorlist {
    background-color: rgb(255, 146, 164);
    border: 2px solid rgb(255, 91, 91);
    color: white;
    padding: 4px 8px 4px 8px;
    list-style-type: none;
    max-width: 500px;
}

.not_college_button {
    cursor: pointer;
    color: #5e7aac;
    letter-spacing: 2px;
    font-size: 12px;
    margin-left: 50px;
}

.selector {
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.selector .option {
    font-size: 16px;
    margin: 0 20px 0 20px;
    padding: 20px;
    letter-spacing: 1.5px;
    width: 300px;
    text-align: center;
}

textarea {
    resize: none;
}

.invite_btn {
    margin-top: 20px;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
}

.ghost_button:disabled, .ghost_button[disabled] {
    color: gray;
    border: 2px solid rgb(97, 97, 97);
    cursor: default;
    transition: none;
    pointer-events: none;
}

@keyframes floatup {
    0%   {
        transform: translateY(50px);
        opacity: 0
    }
    100%   {
        transform: translateY(0px);
        opacity: 1
    }
  }

@keyframes fadein {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}