{% extends 'core/base.html' %}
{% load watson %}
{% load static %}

{% block title %}Search Schools{% endblock %}

{% block content %}
<div class="content">
    <div class="header_flex"> 
        <h1 id="plain_header">COLLEGES</h1>
        <div class="header_search">
            <form action="" method="post">
                {% csrf_token %}
                <label for="search_button"><i class="search_icon fa fa-search" aria-hidden="true"></i></label> <input id="search_button" class="hidden" type="submit" value="" >
                {{ form.query }}
            </form>
        </div>
    </div>
    
    <div class="info"><i class="fa fa-info-circle" aria-hidden="true"></i> Don't see your school? Apply to join NACCS through this form <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=qQyI-I6L8E65Jpw7Kv-yl0u3fJXirJ5Kqx2o52LDsaRURVZKQTZWVU1VUUdGQ0NYRFc0NVBPWEVDSS4u">here</a>.</div>
    {% if results == None %}
        <div class="sole_text">
            Search current schools competing in NACCS
        </div>
    {% else %}
        <div class="result_wrapper">
        {% for school in results %}
        <a class="school_result_link" href="{{ request.path }}{{ school.id }}">
            <div class="search_result school">
                <img class="school_pic" src="{{ school.picture.url }}">
                <div class="name">
                    {{ school.name }}
                </div>
                <div class="location">
                    {{ school.city }}, {{ school.state }}
                </div>
            </div>
        </a>
        {% endfor %}    
        </div>
    {% endif %}
</div>
{% endblock %}